* {
  margin-top: 10px;
  margin-left: 5px;
}
h1 {
  color: white;
  background-color: black;
  font-size: 85px;
  font-family: cursive;
  margin-bottom: 2px;
}
h2 {
  text-align: center;
  background-color: purple;
  color: white;
  margin-left: 5px;
  font-size: 60px;
  margin-bottom: 2px;
}

h3 {
  text-align: right;
  background-color: lightskyblue;
  text-decoration: underline;
  margin-left: 5px;
  font-size: 30px;
}
